.container {
    color: var(--text-color-0);
    margin: 0 auto;
    margin-top: 70px;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 22px;
    font-style: normal;
    font-family: 'Rajdhani';
    line-height: normal;
    color: #fff;
    width: 100%;
    margin-bottom: 120px;
    padding-top: 20px;
}

.station_link
{   
    text-decoration: none;
    color: white;
}

.station_link:hover
{   
    text-decoration: none;
    color: rgb(83, 224, 90);
}

.station_header {
    position: relative;
    margin: auto;
    width: 80%;
    height: 400px;
    padding-bottom: 40px;
}

.station_header p {
    padding-left: 20px;
    line-height: 5px;
}

.station_address {
    color: rgb(202, 202, 202);
}

.station_map {
    position: relative;
    margin: auto;
    margin-left: 1%;
    width: 97%;
    height: 350px;
    margin-bottom: 40px;
}

.station_stats {
    padding-top: 20px;
    position: relative;
    top: 40px;
    margin: auto;
    width: 90%;
    border-radius: 15px;
    opacity: 1;
    transition: 2.3s;
}

.station_stats_title {
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(221, 221, 221, 0.623);
}

/* Filters */
.icon_filters {
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.404);
    transition: 0.2s;
}

.icon_filters_open {
    padding-left: 30px;
    color: rgba(12, 206, 22, 0.849);
    transition: 0.2s;
    cursor: pointer;
}

.icon_filters:hover {
    color: rgba(12, 206, 22, 0.418);
    transition: 0.2s;
    cursor: pointer;
}

.filters_visible {
    margin-bottom: 10px;
    padding-top: 5px;
    display: block;
    position: relative;
    opacity: 1;
    transition: 0.5s;

    overflow-y: hidden;
    overflow-x: auto;
    
    top: 0;
    width: 95%;
    height: 450px;
}

.filters_hidden {
    display: none;
    position: relative;
    left: 0;
    opacity: 0;
    margin-bottom: 0px;
    width: 0;
    height: 0;
    transition: 0.7s;
    pointer-events: none;
    cursor: default;
}

.filters_content {
    position: absolute;
    width: 40%;
    height: 70px;
    padding: 10px;
    margin-bottom: 100px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    transition: 0.5s;
}

.datepick {
    padding-left: 15px;
    padding-top: 10px;
}

.filter_list {
    display: table;
    margin: auto;
    padding-top: 2%;
    left: 2%;
    width: 90%;
    position: relative;
    word-break: initial;
    text-overflow: ellipsis;
}

.filter_list ul {
    list-style: none;
    display: table-row;
    user-select: none;
}

.filter_list ul:first-child li {
    color:#fff;
}

.filter_list ul li:first-child  {
    position: relative;
    display: inline-block;
    min-width: 165px;
}

.filter_list ul > li {
    display: table-cell;
    padding:.5em .7em;
    min-width: 40px;
    max-width: 85px;
}

.f_apply {
    background-color: #48c74c44;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.f_apply:hover {
    background-color: #44c94879;
}

.f_applyDark {
    background-color: #22222254;
    border: none;
    color: rgb(102, 102, 102);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: normal;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
}

.checkbox:hover + label:before {
    background: #41f329;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:checked + label:before {
    background: #10ce1083;
}

.checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.station_stats p {
    padding-left: 20px;
    line-height: 24px;
}

.station_stats ol {
    padding-left: 50px;
}

.station_stats .list_head {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 800;
    color: rgba(221, 221, 221, 0.623);
}

.stats_wrap {
    padding: 30px;
    padding-right: 50px;
}

.stats_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: auto;
    border-radius: 20px;
    width: 100%;
}

.stats_list li {
    width: 100%;
    text-align: left;
}

.stats_list:nth-child(odd) {
    background-color:rgba(27, 24, 24, 0.199);
}

.stats_list:nth-child(even) {
    background-color:rgba(65, 65, 65, 0.123);
}

.stats_list:nth-child(odd):hover {
    background-color:rgba(47, 53, 47, 0.151);
    transition: 0.3s;
}

.stats_list:nth-child(even):hover {
    background-color:rgba(107, 107, 107, 0.096);
    transition: 0.3s;
}

.stats_wrap ol li {
    min-width: 100%;
}

.stats_wrap ol li p {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media screen and (max-width:1014px) {

    .stats_wrap ol li p {
        padding-bottom: 20px;
        width: 100%;
        float: center;
        display: flex;
        flex-direction: column;
        margin: none;
    }
}