.container {
    color: var(--text-color-0);
    margin: 0 auto;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 22px;
    font-style: normal;
    font-family: 'Rajdhani';
    line-height: normal;
    color: #fff;
    width: 100%;
}

/* Filters */
.journey_filters {
    padding-left: 30px;
}

.icon_filters {
    color: rgba(255, 255, 255, 0.404);
    transition: 0.2s;
}

.icon_filters_open {
    color: rgba(12, 206, 22, 0.849);
    transition: 0.2s;
    cursor: pointer;
}

.icon_filters:hover {
    color: rgba(12, 206, 22, 0.418);
    transition: 0.2s;
    cursor: pointer;
}

.filters {
    opacity: 1;
    transition: 0.1s;
}

.filters_hide {
    opacity: 0;
    transition: 0.1s;
}

.filters_visible {
    margin-bottom: 10px;
    display: block;
    position: relative;
    opacity: 1;
    transition: 0.5s;

    overflow-y: hidden;
    overflow-x: auto;

    top: 0;
    width: 95%;
    height: 250px;
}

.filters_hidden {
    opacity: 0;
    position: relative;
    margin-bottom: 0px;
    width: 0;
    height: 0;
    transition: 0.5s;
}

.filters_content_l {
    position: absolute;
    width: 40%;
    height: 70px;
    padding: 10px;
    margin-bottom: 100px;


    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    transition: 0.5s;
}

.filter_list {
    display:table;
    margin:auto;
    padding-top: 2%;
    left: 2%;
    width: 90%;
    position: relative;
    word-break: initial;
    text-overflow: ellipsis;
}

.filter_list ul {
    list-style: none;
    display: table-row;
    user-select: none;
}

.filter_list ul:first-child li {
    color:#fff;
}

.filter_list ul li:first-child  {
    position: relative;
    display: inline-block;
    min-width: 165px;
}

.filter_list ul > li {
    display: table-cell;
    padding:.5em .7em;
    min-width: 40px;
    max-width: 85px;
}

.f_search {
    width: 100%;
    position: relative;
}

.f_searchWrap {
    width: 100px;
    margin: auto;
    left: 86%;
    top: 3vw;
}

.f_searchTerm {
    width: 70px;
    border: 3px solid #07961a57;
    padding: 5px;
    height: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ebebebb2;
    text-align: center;
    
    background-color: rgba(8, 19, 6, 0.356);
    transition: 0.3s;
}

.f_searchTerm:focus{
    color: #d8d8d8;
    box-shadow: 0 0 10px #9eedb27e;
    transition: 0.3s;
}

.f_apply {
    background-color: #48c74c44;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.f_apply:hover {
    background-color: #44c94879;
}

.f_applyDark {
    background-color: #22222254;
    border: none;
    color: rgb(102, 102, 102);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: normal;
}

.input_pr {
    height: 2.0rem;
    width: 100px;
    top: 12px;
    right: 0px;
    left: -10px;
    color: var(--text-color-0);
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
    padding: 0 18px 0 12px;
    margin: 0 ;
    font-size: 22px;
    font-style: normal;
    font-family: 'Rajdhani';
    transition: .3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.drop_arrow {
    padding-left: 15px;
    left: 1334px;
    padding-bottom: 2px;
}

.hide {
    display: none;
}

.dropdown {
    color: var(--text-color-0);
    background: rgba(19, 19, 19, 0.904);
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .3s;
    border-radius: 0 0 4px 4px;

    visibility: hidden;
    z-index: 0;
    position: absolute;
    width: 98px;
    top: 154px;
}

.dropdown::-webkit-scrollbar {
    width: 5px;
}

.dropdown::-webkit-scrollbar-thumb {
    background: var(--bg-color-0);
    width: 5px;
    border-radius: 4px;
}

.dropdown .item {
    padding: 8px 12px;
    margin: 0;
    font-size: 18px;
    border-top: 1px solid var(--bg-color-0);
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown .item:hover {
    color: var(--text-color-2);
    background: var(--bg-color-2);
    border-top: 1px solid var(--bg-color-0);
    cursor: pointer;
}

.dropdown .item p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 15px;
}

.inputs .block .dropdown::-webkit-scrollbar {
    width: 5px;
}

.inputs .block .dropdown::-webkit-scrollbar-thumb {
    background: var(--bg-color-0);
    width: 5px;
    border-radius: 4px;
}

.dropdown[data-open="true"] {
    visibility: visible;
    transition: .3s;
    top: 128px;
    max-height: 500px;
}

/* Meters */
.dropdown[data-type="2"]  {
    visibility: visible;
    background-color: rgba(19, 19, 19, 0.904);
    transition: .3s;
    top: 65px;
    max-height: 500px;
}

/* Pages to load */
.dropdown[data-type="3"]  {
    visibility: visible;
    background-color: rgba(19, 19, 19, 0.904);
    transition: .3s;
    top: 146px;
    right: 210px;
    max-height: 500px;
}

/* Results per page */
.dropdown[data-type="4"]  {
    visibility: visible;
    background-color: rgba(19, 19, 19, 0.904);
    transition: .3s;
    top: 6px;
    right: 210px;
    max-height: 500px;
}

.dropdown[data-open="false"] {
    opacity: 0;
    transition: .3s;
    display: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
}

.checkbox:hover + label:before {
    background: #41f329;
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:checked + label:before {
    background: #10ce1083;
}

.checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.hide_res {
    display: none;
}

.no_results {
    position: relative;
    width: 100%;
    margin: auto;
    color: red;
    font-size: 35px;
    text-align: center;
    text-overflow: ellipsis;
}