.container {
    color: var(--text-color-0);
    margin: 0 auto;
    margin-top: 30px;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Rajdhani';
    line-height: normal;
    color: #fff;
    width: 80%;

}



.list ul:nth-child(odd) {
    background-color:rgba(27, 24, 24, 0.445);
}

.list ul:nth-child(odd):hover {
    background-color:rgba(8, 53, 12, 0.363);
    transition: 0.3s;
}

.list ul:nth-child(even):hover {
    background-color:rgba(33, 47, 51, 0.363);
    transition: 0.3s;
}

.list ul:nth-child(even) {
    background-color:rgba(24, 43, 32, 0.384);
}

.list {
    display:table;
    margin:1em;
}

.list ul {
    display:table-row;
}

.list ul:first-child li {
    background-color:rgba(19, 91, 133, 0.062);
    color:#fff;
}

.list ul > li {
    display:table-cell;
    padding:.5em 1em;
}

/* small */
@media screen and (max-width:768px) {

    .list {
        width: 90%;
    }

    .list ul {
        border:solid 1px #ccc;
        display:block;
        list-style:none;
        margin:1em;
        padding:.5em 1.4em;
    }

    .list ul:first-child {
        background-color:#444;
        color:#fff;
    }

    .list ul > li {
        display:block;
        padding:.25em 0;
    }

    .list ul:nth-child(odd) > li + li {
        border-top:solid 1px #ccc;
    }

    .list ul:nth-child(even) > li + li {
        border-top:solid 1px #eee;
    }

    .list ul > li:before {
        color:rgb(255, 255, 255);
        content:attr(data-label);
        display:inline-block;
        font-size:75%;
        font-weight:bold;
        text-transform:capitalize;
        vertical-align:top;
        width:50%;
    }

    .list p {
        margin:-1em 0 0 50%;
    }
}



