.container {
    color: var(--text-color-0);
    margin: 0 auto;
    margin-top: 70px;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 22px;
    font-style: normal;
    font-family: 'Rajdhani';
    line-height: normal;
    color: #fff;
    width: 100%;
    margin-bottom: 120px;
    padding-top: 20px;
}

.error {
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: rgba(212, 51, 51, 0.897);
    width: 70%;
}

.ok {
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: rgba(89, 212, 51, 0.897);
    width: 70%;
}

.none {
    display: none;
}

.settings_header {
    position: relative;
    margin: auto;
    width: 60%;
    height: 600px;
    padding: 30px;
    padding-bottom: 40px;
    line-height: 2px;
}

.settings_title {
    text-align: left;
    font-weight: 800;
    font-size: 35px;
    color: rgba(219, 219, 219, 0.897);
}

.settings_low {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    color: rgba(219, 219, 219, 0.897);
}

.cred {
    padding-top: 30px;
    padding-bottom: 45px;
}

.input_title {
    text-align: left;
    padding-left: 5px;
    font-weight: 800;
    font-size: 23px;
    color: rgba(219, 219, 219, 0.897);
}

.input {
    width: 230px;
    border: 3px solid #72727257;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ebebebb2;
    text-align: center;
    font-size: 17px;
    background-color: rgba(8, 19, 6, 0.356);
    transition: 0.3s;
}

.input:focus:focus {
    color: #d8d8d8;
    box-shadow: 0 0 10px #ebebeb7e;
    transition: 0.3s;
}

.connect {
    background-color: #48c74c44;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.connect:hover {
    background-color: #44c94879;
}

.connectDark {
    background-color: #22222254;
    border: none;
    color: rgb(102, 102, 102);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: normal;
}

.init {
    padding-top: 50px;
}

.import {
    background-color: #48c74c44;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.import:hover {
    background-color: #44c94879;
}

.importDark {
    background-color: #22222254;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: normal;
}

.settings_footer {
    position: relative;
    margin: auto;
    width: 60%;
    height: 600px;
    padding: 30px;
    padding-bottom: 40px;
    line-height: 2px;
}

.settings_off {
    display: none;
}

.status_list {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    list-style: none;
    text-decoration: none;
    line-height: 20px;
    position: relative;
    border-radius: 5px;
    border-color: grey;
    border-style: inset;
    background-color: rgba(0, 0, 0, 0.397);
}

.status_list li {
    text-align: left;
    right: 25px;
    position: relative;
    padding: 15px;
    border-radius: 20px;
}

@media screen and (max-width:800px) {
    .settings_header, .settings_footer {
        line-height: 20px;
    }
    .settings_footer {
        padding-top: 100px;
    }

    
}