
.list ul:nth-child(odd) {
    background-color:rgba(27, 24, 24, 0.445);
}

.list ul:nth-child(odd):hover {
    background-color:rgba(8, 53, 12, 0.363);
    transition: 0.3s;
}

.list ul:nth-child(even):hover {
    background-color:rgba(33, 47, 51, 0.363);
    transition: 0.3s;
}

.list ul:nth-child(even) {
    background-color:rgba(24, 43, 32, 0.384);
}

.pageIncrement:hover  {
    color: rgb(243, 243, 243) !important;
    text-decoration: none;
}

.pageActive  {
    color: rgba(28, 233, 1, 0.753) !important;
    text-decoration: none;
}

.pageIncrement  {
    color: rgba(228, 228, 228, 0.411) !important;
    text-decoration: none;
}

.pages {
    list-style: none;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 45px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    scrollbar-color: rgba(19, 224, 19, 0.514) rgb(17, 44, 17);
    scrollbar-width: thin;
}

.pageButtons {
    list-style: none;
    display: flex;
    position: absolute;
    left: 15%;
    cursor: pointer;
}

.pageButtons li {
    padding: 5px;
}

.pageButtonsDown {
    list-style: none;
    display: flex;
    position: absolute;
    right: 15%;
    cursor: pointer;
}

.pageButtons li {
    padding: 10px;
}

.pageButtonsDown li {
    padding: 10px;
}

.pageActive  {
    font-size: 55px;
}

.pageIncrement  {
    font-size: 40px;
}

.pageSkipDeactivated, .pageScroller, .pageSkip {
    transform:scale(1.2);
}

.pages > li {
    margin-right: 0.3em;
    user-select: none;
    cursor: pointer;
}

.pageScroller {
    color: rgb(100, 100, 100);
}

.pageSkip {
    color: rgb(61, 61, 61);
}

.pageSkipDeactivated {
    cursor: normal !important;
    color: rgba(161, 21, 21, 0.671);
}

.pageScroller:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.pageSkip:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.list {
    display:table;
    margin:auto;
    padding-top: 5%;
    left: 0%;
    width: 90%;
    position: relative;
    word-break: initial;
    text-overflow: ellipsis;
}

.list ul {
    display: table-row;
    user-select: none;
    cursor: pointer;

    box-shadow: 0 0 15px 0px rgba(45, 218, 29, 0.233);
    clip-path: inset(0px -15px 0px -15px);
}

.list ul:first-child li {
    background-color:rgba(19, 91, 133, 0.062);
    color:#fff;
}

.list ul li:first-child  {
    position: relative;
    display: inline-block;
    max-width: 60px;
}

.list ul > li {
    display: table-cell;
    padding:.5em 1em;
    min-width: 20px;
}

.list ul p {
    display: none;
}

.list .list_header li:first-child {
    margin: 0.6rem;
}

.sort_icon {
    position: absolute;
    margin-left: 10px;
    padding-top: 3px;
    padding: 2px;
    opacity: 0.5;
}

.sort_icon_active {
    color: #71f56c;
    position: absolute;
    margin-left: 10px;
    padding-top: 3px;
    padding: 2px;
    opacity: 0.5;
}

.entry {
    transition: 1.3s;
}

/* When user clicks a list entry => expand it */
.entry_ex {
    margin-bottom: 380px;
    transition: 1.3s;
}

.entry_visible {
    margin-bottom: 100px;
    display: block;
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 70%;
    width: 70vw;
    height: 340px;
}

.entry_hidden {
    opacity: 0;
    position: absolute;
    margin-bottom: 0px;
    transition: 0.0s;
}

.entry_content_l {
    position: absolute;
    width: 330px;
    height: 340px;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 100px;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    transition: 2.4s;
}

.entry_content_l_j {
    position: relative;
    width: 100%;
    height: 340px;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 100px;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    transition: 2.4s;
}

.entry_content_r {
    float: right;
    width: 330px;
    height: 340px;
    left: 20px;
    margin-bottom: 100px;
    padding: 10px;
    padding-top: 20px;

    border-color: violet;
    border-style: dotted;

    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    transition: 2.4s;
}

.filters {
    opacity: 1;
    transition: 0.1s;
}

.filters_hide {
    opacity: 0;
    transition: 0.1s;
}

/* Journey return and departure stations link */
.station_link
{   
    text-decoration: none;
    color: white;
}

.station_link:hover
{   
    text-decoration: none;
    color: rgb(83, 224, 90);
}

.none {
    position: relative;
    margin: 0;
    padding: 0;
    height: 0;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchWrap {
    width: 300px;
    margin: auto;
    transform: translate(-50%, -50%);
    left: 86%;
    top: 3vw;
    position: absolute;
}

.searchTerm {
    width: 100%;
    border: 3px solid #07961a57;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ebebebb2;
    
    background-color: rgba(8, 19, 6, 0.356);
    transition: 0.3s;
}

.searchTerm:focus{
    color: #d8d8d8;
    box-shadow: 0 0 10px #9eedb27e;
    transition: 0.3s;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0b4923;
    background: #2ee20a6c;
    text-align: center;
    color: rgb(12, 8, 8);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.searchButton:active {
    background: #26ff00be;
    box-shadow: 0 0 10px #9eedb27e;
    transition: 0.1s;
}


@media screen and (max-width:1316px) {
    .list ul > li {
        padding:.5em 0.75em;
    }
    .searchWrap {
        left: 86%;
        top: 30px;
        position: absolute;
    }
}

@media screen and (min-width:1400px) {
    .list {
        width: 85%;
    }
}

@media screen and (max-width:1450px) {
    .pageButtons {
        list-style: none;
        display: flex;
        position: absolute;
        left: 5%;
        cursor: pointer;
    }

    .pageButtonsDown {
        list-style: none;
        display: flex;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
}

@media screen and (max-width:1120px) {
    .list {
        width: 95%;
        font-size: 20px;
    }

    .searchWrap {
        left: 84%;
        top: 25px;
        position: absolute;
    }

    .pageButtons {
        list-style: none;
        display: flex;
        position: absolute;
        left: 1%;
        cursor: pointer;
    }

    .pageButtonsDown {
        list-style: none;
        display: flex;
        position: absolute;
        right: 1%;
        cursor: pointer;
    }
}

/* Mobile */
@media screen and (max-width:1014px) {

    .pages {
        right: 30px;
        font-size: 40px;
        width: 95%;
        font-size: 45px;
        flex-direction: column;
    }

    .pageButtons {
        list-style: none;
        display: flex;
        position: absolute;
        left: 5%;
        cursor: pointer;
    }

    .pageButtonsDown {
        list-style: none;
        display: flex;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .pageButtons li {
        padding: 0px;
    }
    
    .pageButtonsDown li {
        padding: 0px;
    }

    .pageSkipDeactivated, .pageScroller, .pageSkip {
        display: flex;
        flex-direction: row;
        transform:scale(1.3);
        padding: 10px;
        padding-bottom: 20px;
    }

    .pageActive  {
        font-size: 65px;
    }
    
    .pageIncrement  {
        font-size: 45px;
    }

    .pages > li {
        margin-right: 0.2em;
    }

    .entry_visible {
        padding-top: 2px;
        width: 81vw;
    }

    .list .list_header {
        display: none;
    }

    .list ul p {
        display: block;
    }

    .container {
        margin-top: 90px;
    }
    
    .searchWrap {
        width: 55%;
        left: 45%;
        position: relative;
        padding-bottom: 10px;
    }

    .list {
        width: 100%;
    }

    .list ul {
        border:solid 1px #ccc;
        display:block;
        list-style:none;
        margin:1em;
        padding:.5em 1.4em;
    }

    .list ul:first-child {
        background-color:#444;
        color:#fff;
    }

    .list ul > li {
        display:block;
        padding:.25em 0;
        text-align: right;
    }

    .list ul:nth-child(odd) > li + li {
        border-top:solid 1px #ccc;
    }

    .list ul:nth-child(even) > li + li {
        border-top:solid 1px #eee;
    }

    .list ul li p:first-child {
        text-align: left;
        position: relative;
    }

    .list ul > li:before {
        color:rgb(255, 255, 255);
        content: attr(data-label);
        display: inline-block;
        font-size: 80%;
        font-weight: bold;
        text-transform: capitalize;
        vertical-align: top;
        width: 0%;
    }

    .list p {
        margin:-1em 0 0 0%;
        bottom: 7px;
        position: relative;
        text-align: left;
    }

    .list ul li:first-child  {
        max-width: 80px;
    }
}

@media screen and (max-width:930px) {
    .entry_visible {
        left: 15%;
        width: 82vw;
    }
}

@media screen and (max-width:840px) {
    .entry_visible {
        left: 0%;
        width: 77vw;
    }
}

@media screen and (max-width:660px) {
    .entry_visible {
        right: -3%;
        width: 72vw;
    }
}

@media screen and (max-width:540px) {
    .entry_visible {
        left: 0%;
        width: 67vw;
    }
}

@media screen and (max-width:420px) {
    .entry_visible {
        left: 00%;
        width: 66vw;
    }
}

@media screen and (max-width:400px) {
    .entry_visible {
        left: 00%;
        width: 66vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}