.container {
    color: var(--text-color-0);
    margin: 0 auto;
    margin-top: 30px;
    transition: .3s ease;
    padding-bottom: 20px;
    flex-grow: 0;
    font-size: 22px;
    font-style: normal;
    font-family: 'Rajdhani';
    line-height: normal;
    color: #fff;
    width: 100%;
}

.hide_res {
    display: none;
}

.no_results {
    position: relative;
    width: 100%;
    margin: auto;
    color: red;
    font-size: 35px;
    text-align: center;
    text-overflow: ellipsis;
}